.generalContainer {
  position: relative;
  display: initial;
}
.generalContainerHidden {
  display: none !important;
}
.cardContainer {
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerImg {
  cursor: pointer;
  width: 100%;
  height: 158px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s;
}
.unity {
  font-style: italic;
}
.containerButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.containerButtons button {
  width: 100px;
  background-color: rgb(216, 216, 216);
  color: var(--mine-shaft);
}
.btnEditar {
  color: var(--light-sea-green);
  height: 40px;
  border: 1px solid var(--light-sea-green);
  transition: 0.2s;
}
.btnEliminar {
  color: var(--red);
  border: 1px solid var(--red);
}
.btnEditar:hover {
  color: #fff;
  background-color: var(--light-sea-green);
  border: none;
  transition: 0.2s;
}
.btnEliminar:hover {
  color: #fff;
  background-color: var(--red);
  border: none;
  transition: 0.2s;
}
