.containerGralProductoModificadoOculto {
  display: none;
}
.check {
  width: 50px;
  height: 50px;
  background: url(../../assets/imgs/check.png) no-repeat center;
  background-size: 100%;
}
.containerGralProductoModificado {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--swamp-green-faded);
  z-index: 200000;
}
.containerVentanaProductoModificado {
  position: relative;
  border: 3px solid var(--swamp-green);
  padding: 20px 3px;
  background-color: var(--silver-sand);
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerVentanaProductoModificado button {
  width: 30%;
  background-color: var(--silver-sand);
  outline: 2px solid var(--forest-green-web);
  border: none;
  color: var(--forest-green-web);
}
.containerVentanaProductoModificado button:hover {
  background-color: var(--forest-green-web);
  color: var(--silver-sand);
}
.containerBarraTemporal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--burnt-siena);
    animation: completarBarra 4s linear;
}
@keyframes completarBarra {
100%{width: 100%;}
}
