.containerNewProduct {
  background-color: var(--mauve);
  min-height: 100vh;
  position: relative;
}
.containerVolverAtras {
  padding: 5px 10px;
}
.containerVolverAtras {
  padding: 10px 30px;
}
.containerVolverAtras a {
  color: #000;
}
.editando,
.subEditando {
  padding: 5px;
}

.itemForm input {
  height: 40px;
  width: 100%;
}
.itemForm textarea {
  width: 100%;
  resize: none;
}
.containerTitulos {
  text-align: center;
}
.containerFormNewProd {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 750px;
}
.containerCantidadUnidad {
  margin: 0 auto;
  width: 100%;
  gap: 10%;
  display: flex;
}
.containerCantidadUnidad input,
.containerCantidadUnidad label {
  width: 100%;
}
.containerCheckOferta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  gap: 10px;
}
.containerCheckOferta label {
  text-align: center;
  width: max-content;
}
.containerCheckOferta h5 {
  margin: 0;
  padding: 0;
}
.containerCheckOferta input {
  width: 10%;
  height: 20px;
}
h2,
.containerTitulos h4 {
  color: var(--fondo-elementos);
}
.containerImg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 200px;
  height: 200px;
}
.btnFileHidden {
  height: 0;
  overflow: hidden;
}