.containerEditarCategorys {
  background-color: var(--mauve);
  min-height: calc(100vh - 105px);
}
.containerBtnsSuperiores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
}
.btnCerrarSesion {
  text-decoration: underline;
  color: var(--mine-shaft);
  cursor: pointer;
}
.containerCerrarSesion {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.containerVolverAtras {
  width: 100%;
}
.containerVolverAtras > a {
  color: #000;
}
.titleSectionEditarCategorys {
  text-align: center;
}
.itemFormLabel {
  display: none;
}
.containerFormNewCat {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 750px;
}
.itemForm,
.nameCategory {
  width: 90%;
}
.nameCategory p {
  margin: 0;
  padding: 0;
}
input {
  width: 100%;
  padding: 3px;
}
.btnSubmit {
  width: 10%;
}
.btnSubmit button {
  width: 100%;
  padding: 0 10px;
  padding: 3px;
}
.textoBtn {
  font-weight: bolder;
}
.lineaDivisora {
  height: 1px;
  background-color: var(--mine-shaft);
  margin: 10px;
}
.listadoDeCategorys {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
  border: 2px inset var(--silver-sand);
  border-radius: 15px;
  background-color: var(--banana-mania);
}
.category {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.lineaDivisora2 {
  height: 1px;
  background-color: var(--swamp-green);
  margin: 10px;
}
