.containerFormLogin {
    background-color: var(--mauve);
    height: calc(100vh - 105px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuarioOk, .passOk {
    display: none;
}

.revelarMensaje1 {
    display: block;
    outline: 4px solid red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    text-align: center;
}
.revelarMensaje2 {
    display: block;
    outline: 4px solid red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
    text-align: center;
    color: yellow   ;
}