.containerNewProduct {
  position: relative;
  background-color: var(--mauve);
  min-height: 100vh;
}
.containerVolverAtras {
  padding: 10px 10px;
}
.containerVolverAtras a {
  color: #000;
}

.itemForm input {
  height: 40px;
  width: 100%;
}
.itemForm textarea {
  width: 100%;
  resize: none;
}

.containerFormNewProd {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  max-width: 750px;
}
.containerCantidadUnidad {
  margin: 0 auto;
  width: 100%;
  gap: 10%;
  display: flex;
}
.containerCantidadUnidad > .itemForm {
width: 50%;
}
.containerCantidadUnidad input,
.containerCantidadUnidad label {
  width: 100%;
}

.btnEditarCategorys {
  text-align: center;
  margin: 5px 0;
  padding: 3px;
  background-color: transparent;
  border: none;
  outline: 1px solid var(--mine-shaft);
  transition: 0.3s;
  text-decoration: none;
  color: var(--mine-shaft);
}

.btnEditarCategorys:hover {
  background-color: var(--silver-sand);
  border: none;
  outline: none;
  transition: 0.3s;
}
.btnGuardar {
  margin: 5px auto;
  margin-bottom: 20px;
  width: 70%;
  padding: 10px 3px;
  background-color: transparent;
  border: none;
  outline: 1px solid var(--forest-green-web);
  transition: 0.3s;
}

.btnGuardar:hover {
  background-color: var(--forest-green-web);
  border: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}
