.containerViewCategory {
  background-color: var(--mauve);
  min-height: calc(100vh - 108.4px);
}
.tituloViewCategory {
  text-align: center;
  padding-top: 20px;
  font-size: 1.7em;
  color: var(--fondo-elementos);
  text-shadow: 0 0 2px #fff;
}
.noHayProductos {
  width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  font-size: 1.4em;
  min-width: 100%;
  color: var(--fondo-elementos);
  text-shadow: 0 0 3px #fff;
}
.containerBtnsSuperiores {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
}
.containerVolverAtras {
  width: 100%;
}
.containerVolverAtras > a {
  color: #000;
}
